<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751084505532-1nqsuvp801qhrqno0cltrfi8of667de1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751084505532-1nqsuvp801qhrqno0cltrfi8of667de1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751084505532-966ii9btco648ls5vnv9q4m5ft1o0f02.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDejpRkk3FHTb5jscRl69Gzs6DG75jsbTE</string>
	<key>GCM_SENDER_ID</key>
	<string>751084505532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test4</string>
	<key>PROJECT_ID</key>
	<string>instaimage-f6f3b</string>
	<key>STORAGE_BUCKET</key>
	<string>instaimage-f6f3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751084505532:ios:049df94dd6660553ee03b9</string>
</dict>
</plist>